<form action="/create_account" method="post">
   
    <label for="username">Please enter a username:</label>
    <input type="text" name="username">
   
    <label for="email">Please enter an email:</label>
    <input type="text" name="email">
    
    <label for="mob">Please enter a mobile number:</label>
    <input type="text" name="mob">
   
    <label for="password">Please enter a password:</label>
    <input type="text" name="password">


    <input type="submit" value="Create account"/>

  </form>