<form action="/create_account" method="post">
<fieldset>
<legend>Create Account</legend>
   
    <label for="username">Please enter a username:</label>
    <input type="text" name="username"><br>
   
    <label for="email">Please enter an email:</label>
    <input type="text" name="email"><br>
    
    <label for="mob">Please enter a mobile number:</label>
    <input type="text" name="mob"><br>
   
    <label for="password">Please enter a password:</label>
    <input type="text" name="password"><br>


    <input type="submit" value="Create account"/>
</fieldset>
  </form>