<fieldset>
<legend>Add Listing</legend>
<form action="/add_space" method="post">
   
    <label for="space_name">Enter the name of your space:</label>
    <input type="text" name="space_name"><br>
   
    <label for="description">Enter a description of your space:</label>
    <input type="text" name="description"><br>
    
    <label for="location">Enter the location of your space:</label>
    <input type="text" name="location"><br>
   
    <label for="price">Enter the price per night for your space:</label>
    <input type="text" name="price"><br>


    <input type="submit" value="Add space"/>
  </form>
  </fieldset>