<fieldset>
<legend>Book Space</legend>
<form action="/book_space" method="post">
   
     <label>Pick space:</label>   
     <select name="space_name">
     <%@listings.each do|space|%>
     <option><%=space.name%></option>
     <%end%>
     </select>
 

   
    <label for="date">Please pick the date you want to book:</label>
    <input type="date" name="date"><br>
    

    <input type="submit" value="Book space" />
  </form>
  </fieldset>


