<fieldset>
<legend>Book Space</legend>
<form action="/book_space" method="post">
   
    <label for="space_name">Enter the name of the space you want to book:</label>
    <input type="text" name="space_name"><br>
   
    <label for="date">Please pick the date you want to book:</label>
    <input type="date" name="date"><br>
    

    <input type="submit" value="Book space" />
  </form>
  </fieldset>


