<fieldset>
<legend>Login</legend>
<form action="/log_in" method="post">
   
    <label for="username">Please enter a username:</label>
    <input type="text" name="username"><br>

    <label for="password">Please enter a password:</label>
    <input type="password" name="password"><br>

    <input type="submit" value="Log in"/>

  </form>
  </fieldset>