Username/Email already taken<br><br>

<a href="/create_account">
       <button>Try with different username/email</button>
     </a><br><br>

<a href="/">
       <button>Return home</button></a><br><br>

