body {
    background-color: #edeff0;
    font-family: 'Lora', serif;
    padding: 40px;
    text-align: center;
    color: #333;
    font-size: 18px;
  }
  .header {
    
    text-align: center;
    background-color: #dcdde1;    
  }


  h2 {
    text-align: left;
    margin-top: 5px;
    font-family: 'Lora';
    font-size: 20px;
    font-weight: normal;
  }

  h1 {
    margin-top: 50px;
    font-family: 'Lora';
    font-size: 30px;
    font-weight: bold;
  }

 .title {
    margin-top: 25px;
    text-align: center;
    font-size: 40px;
 }
  
  button,
  input[type="submit"]{
    display: inline-block;
    background-color: #e15258;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
    font-family: 'Lora';
    text-decoration: none;
    padding: 12px 20px;
    border-radius: 100px;
    transition: background-color 200ms ease-in-out;
    letter-spacing: 0.05em;
    border: none;
  }
 
  div {
    text-align: left;
    width: 50%;
    margin: 0 auto;
    background-color: #fff;
    padding: 15px 50px;
    border-radius: 5px;
    border-bottom: solid 2px #ddd;
    margin-bottom: 30px;
  }

  legend {
    font-family: 'Lora';
    font-size: 25px;
    font-weight: normal;
  }

  .location {
      font-weight: bold;


  }

  .welcome {
    text-align: center;
    background-color: #dcdde1;   
  }
  
 
  


 
  